@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color:white;
}

body{
  background-color: #351E8A;
  height: 100%;
  overflow-x: hidden;
  
}

// Header

.hamburger-menu{
    display: none;
    position: fixed;
    height: 100vh;
    width: 260px;
    background-color: rgba(92,67,190,0.8);
    backdrop-filter: blur(8px);
    padding: 20px 30px;
    z-index: 10000;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;

    
    .ham-lang{
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;

        i{
            cursor: pointer;
            font-size: 18px;
        }

        .language{
            .active{
                color: #FFC91E;
                text-decoration: underline;
            }
        }
       
    }

    .ham-dashboard{
        display: flex;
        flex-direction: column;
        gap: 15px;
        list-style: circle;

        .brend{
            opacity: 0.5;
        }

        .haqq{
            .aclass1{
                display: flex;
                align-items: center;
                gap: 5px;

                p{
                    font-weight: bold;
                }
            }

            .ham-hide-bar{
                display: none;
                padding-left: 20px;
                flex-direction: column;
                gap: 10px;
                margin-top: 5px;
            }
        }

        .mehsul{
            .aclas2{
                display: flex;
                align-items: center;
                gap: 5px;

                p{
                    font-weight: bold;
                }
            }

            .ham-hide-bar-mehsul{
                display: flex;
                flex-direction: column;
                gap: 20px;
                display: none;
                padding-left: 20px;
                margin-top: 10px;
            }
        }
    }

    .media{
        margin-top: 50px;

        .sosial-media{
        display: flex;
        width: 100%;
        gap: 5px;
        i{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 33px;
            height: 33px;
            background-color: #5036AC;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            cursor: pointer;
            transition:0.3s ease-in-out ;
            -webkit-transition:0.3s ease-in-out ;
            -moz-transition:0.3s ease-in-out ;
            -ms-transition:0.3s ease-in-out ;
            -o-transition:0.3s ease-in-out ;

            &:hover{
                transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                color: #FFC91E;
    }
        }
        }

        .contact{
            margin-top: 20px;
            font-size: 12px;
        }
    }
}


.container-header{
    background-color: #351E8A;
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 0 70px;
    

    .lang{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        

        .language{
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            width: 20%;

            a{
                font-size: 17px;

                &:hover{
                    color: #FFC91E;
                    text-decoration: underline;
                }
            }
        }
        .sosial-media{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            gap: 5px;
            position: relative;
            top: 10px;
            margin-right: 10px;

            .inp{
                display: flex;
                position: relative;
                left: 30px;
                transition: 1s ease-in-out;
                -webkit-transition: 1s ease-in-out;
                -moz-transition: 1s ease-in-out;
                -ms-transition: 1s ease-in-out;
                -o-transition: 1s ease-in-out;


                input{
                    opacity: 0;
                    width: 33px;
                    height: 33px;
                    border-radius: 17px;
                    -webkit-border-radius: 17px;
                    -moz-border-radius: 17px;
                    -ms-border-radius: 17px;
                    -o-border-radius: 17px;
                    background-color: #5036AC;
                    padding: 0 20px 0 40px;
                    border: none;
                    outline: none;
                    transition: 1s ease-in-out;
                -webkit-transition: 1s ease-in-out;
                -moz-transition: 1s ease-in-out;
                -ms-transition: 1s ease-in-out;
                -o-transition: 1s ease-in-out;
                    

                    &::placeholder{
                        color: white;
                    }
                }

                i{
                    position: relative;
                    right: 34px;
                }
            }

            i{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 33px;
                height: 33px;
                background-color: #5036AC;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                cursor: pointer;
                transition:0.3s ease-in-out ;
                -webkit-transition:0.3s ease-in-out ;
                -moz-transition:0.3s ease-in-out ;
                -ms-transition:0.3s ease-in-out ;
                -o-transition:0.3s ease-in-out ;

                &:hover{
                    transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -moz-transform: rotate(360deg);
                    -ms-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                    color: #FFC91E;
}
}
}  
        
        .contact{
            position: relative;
            top: 10px;
            font-size: 10px;
        }
    }


    .logo-container{
        display: flex;
        margin-top: 15px;
        justify-content: space-between;
        align-items: center;

        .ham-icon{
                display: none;
            i{
                font-size: 18px;
                cursor: pointer;
            }
        }

        .logo{
            img{
                width: 254px;
                height: 31px;
                cursor: pointer;
            }
        }

        .search{
            display: none;

           .inp{
            display: flex;
            position: relative;
            left: 30px;
            transition: 1s ease-in-out;
            -webkit-transition: 1s ease-in-out;
            -moz-transition: 1s ease-in-out;
            -ms-transition: 1s ease-in-out;
            -o-transition: 1s ease-in-out;


            input{
                opacity: 0;
                width: 33px;
                height: 33px;
                border-radius: 17px;
                -webkit-border-radius: 17px;
                -moz-border-radius: 17px;
                -ms-border-radius: 17px;
                -o-border-radius: 17px;
                background-color: #5036AC;
                padding: 0 20px 0 40px;
                border: none;
                outline: none;
                transition: 1s ease-in-out;
            -webkit-transition: 1s ease-in-out;
            -moz-transition: 1s ease-in-out;
            -ms-transition: 1s ease-in-out;
            -o-transition: 1s ease-in-out;
            }
            i{
                display: flex;
                align-items: center;
                justify-content: center;
                outline: none;
                width: 33px;
                height: 33px;
                background-color: #5036AC;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                cursor: pointer;
               }
           } 
        }

        .dashboard{
            display: flex;
            gap: 10vh;
            font-size: 15px;

            .brend{
                opacity: 0.5;
            }

            .haqqimizda{
                font-size: 15px;

                .aclass{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                    gap: 5px;

                    p{
                        font-weight: bold;
                    }
                }
                .hide-bar{
                    display: grid;
                    display: none;
                    grid-template-columns: repeat(2, 1fr);
                    position: absolute;
                    top: 95px;
                    width: 266px;
                    height: 110px;
                    padding: 20px 15px;
                    background-color:rgba(83, 69, 177, 0.6) ;
                    border-radius: 8px;
                        -webkit-border-radius: 8px;
                        -moz-border-radius: 8px;
                        -ms-border-radius:8px;
                        -o-border-radius:8px;
                    
                    &::before{
                        content: '';
                        background-color:rgba(83, 69, 177, 0.6);
                        position: absolute;
                        top: -10px;
                        left: 10px;
                        width: 10px;
                        height: 10px;
                        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
                }
            }
            .mehsullar{
                .aclass2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                    gap: 5px;

                    p{
                        font-weight: bold;
                    }
                }
                .hide-bar-mehsul{
                    display: grid;
                    display: none;
                    grid-template-columns: repeat(2, 1fr);
                    position: absolute;
                    top: 95px;
                    width: 452px;
                    height: 178px;
                    padding: 20px 15px;
                    background-color:rgba(83, 69, 177, 0.6) ;
                    border-radius: 8px;
                        -webkit-border-radius: 8px;
                        -moz-border-radius: 8px;
                        -ms-border-radius:8px;
                        -o-border-radius:8px;

                        &::before{
                            content: '';
                            background-color:rgba(83, 69, 177, 0.6);
                            position: absolute;
                            top: -10px;
                            left: 10px;
                            width: 10px;
                            height: 10px;
                            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                        }
                }
            }
        }
    }
}


/* brend-container start */
.brend-parent{

    .active{
        display: block !important;
    }

    .brend-container{
        display: none;
        flex-direction: column;
        position: relative;
        top: 120px;
        padding: 0 70px;
        height: 100%;
    
        .yol{
            display: flex;
            font-size: 16px;
            margin-bottom: 10px;
            p{
                &:last-child{
                    color: #FFC91E;
                }
            }
        }
    
        .bar{
            border-color: #6B52C8;
            margin-bottom: 10px;
        }
    
        .title{
            position: relative;
            h1{
                font-size: 30px;
            }
        }
    
        .brend-body{
            display: flex;
            flex-direction: column;
            background-color: white;
            margin-top: 20px;
            padding: 50px 60px;
            border-radius: 12px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
    
            .bar1{
                border: 1px solid #DCDCDC;
            }
    
            .list{
                display: grid;
                grid-template-columns: repeat(5,1fr);
                align-items: center;
                padding: 10px 0;
    
                img{
                    cursor: pointer;
                }
            }
    
            .brend-table5{
                img{
                    &:first-child{
                        height: 144px;
                        width: 144px;
                    }
                }
            }
    }
    }
    
    
    /* brend-container end */
    
    /* brend-about-container start */
    
    .brend-about-container{
        display: none;
        flex-direction: column;
        position: relative;
        top: 120px;
        padding: 0 70px;
        height: 100%;
    
        .swiper-pagination {
            display: flex;
            justify-content: flex-start;
            position: relative;
            top: 40px;
            bottom: 0;
            left: 35vh;
            text-align: center;
            transition: opacity 0.3s ease 0s;
            transform: translate3d(0px, 0px, 0px);
            z-index: 10;
        }
    
        .swiper-button-next, .swiper-button-prev {
            position: relative;
            top: 80px;
            width: calc(var(--swiper-navigation-size)/ 44 * 27);
            height: var(--swiper-navigation-size);
            margin-top: 0;
            z-index: 100;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #5036AC;
            color: #FFC91E;
            width: 62px;
            height: 46px;
            border: 1px solid #7A5CEE;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
    }
    
        .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
            content: 'next';
            font-size: 12px;
        }
    
        .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
            content: 'prev';
            font-size: 14px;
        }
    
        .swiper-button-next{
            left: 11vh;
        }
    
        .swiper-button-prev{
            top: 125px;
        }
    
        .yol{
            display: flex;
            p{
                &:last-child{
                    color: #FFC91E;
                }
            }
        }
    
        .bars{
            border: 1px solid #6B52C8;
        }
    
        .brend-logo{
            display: flex;
            justify-content: center;
            align-items: center;
    
            .bar2{
                position: relative;
                right: 20px;
                width: 100px;
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                    }
    
            .about{
                display: flex;
                width: 50%;
            }
    
            .logo{
                display: flex;
                align-items: center;
                justify-content: center;
                
    
                h2{
                    width: 50%;
                }
            }
        }
    
        .brend-mehsul{
            display: grid;
            grid-template-columns: repeat(5,1fr);
            gap: 20px;
            position: relative;
            top: 50px;
    
            .box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 202px;
                height: 269px;
                background-color: white;
                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -ms-border-radius: 8px;
                -o-border-radius: 8px;
    
    
                .box-line{
                   margin-top: 15px;
                    border: 1px solid #D2D2D2;
                    width: 74px;
                }
    
                h3{
                    margin-top: 5px;
                    color: #4C4C94;
                    font-size: 14px;
                    font-weight: bold;
                }
    
                p{
                    margin-top: 5px;
                    color: #4C4C94;
                    font-size: 14px;
                    font-weight: bold;
                }
    
                img{
                    width: 152px;
                    height: 152px;
                }
    
            }
        }
    
        .oxsar-mehsul{
            display: flex;
            flex-direction: column;
            position: relative;
            top: 50px;
            height: 100%;
            width: 100%;

            .oxsar-line{
                position: relative;
                bottom: 30px;
                border: 1px solid #6B52C8;

            }
    
            .title{
                padding: 40px 0;
            }
    
    
            .swiper-wrapper{
                display: flex;
    
                .swiper-slide{
                    .box{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 202px;
                        height: 269px;
                        background-color: white;
                        border-radius: 8px;
                        -webkit-border-radius: 8px;
                        -moz-border-radius: 8px;
                        -ms-border-radius: 8px;
                        -o-border-radius: 8px;
    
    
                        .box-line{
                        margin-top: 15px;
                            border: 1px solid #D2D2D2;
                            width: 74px;
                        }
    
                        h3{
                            margin-top: 5px;
                            color: #4C4C94;
                            font-size: 14px;
                            font-weight: bold;
                        }
    
                        p{
                            margin-top: 5px;
                            color: #4C4C94;
                            font-size: 14px;
                            font-weight: bold;
                        }
    
                        img{
                            width: 152px;
                            height: 152px;
                        }
                            }
                        }
            }
        }
    
    }

    .sloboda{
        

        .bars1{
            position: relative;
            width: 100%;
            border: 1px solid #6B52C8;  
            margin: 20px 0 ;                   
        }

        .brend-logo{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 40px;

            .logo{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                width: 310px;
                height: 100%;
                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -ms-border-radius: 8px;
                -o-border-radius: 8px;
            }

            .about{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;

                .title{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    align-items: flex-start;
                    justify-content: flex-start;
                    width: 100%;

                    h2{
                        font-size: 25px;
                    }

                    p{
                        color: #C6B8FF;
                        font-size: 14px;
                    }

                    .bars2{
                        position: relative;
                        width: 100%;
                        border: 1px solid #6B52C8;                     
                    }
                }
            }

            .haqqinda{
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                gap: 5px;
            }

            .paylas{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #6047BF;
                width: 100%;
                padding: 10px 20px;
                margin-top: 40px;
                border-radius: 6px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                -o-border-radius: 6px;

                .icons{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    a{
                        i{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            font-size: 12px;
                            width: 28px;
                            height: 28px;
                            background-color: #765DD1;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            -ms-border-radius: 50%;
                            -o-border-radius: 50%;
                        }
                    }
                }
            }
        }
            .diger-mehsul{
                margin-top: 30px;

                .title{
                    font-size: 25px;
                }

                .swiper-wrapper{
                    display: flex;
        
                    .swiper-slide{
                        .box{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 202px;
                            height: 269px;
                            background-color: white;
                            border-radius: 8px;
                            -webkit-border-radius: 8px;
                            -moz-border-radius: 8px;
                            -ms-border-radius: 8px;
                            -o-border-radius: 8px;
        
        
                            .box-line{
                            margin-top: 15px;
                                border: 1px solid #D2D2D2;
                                width: 74px;
                            }
        
                            h3{
                                margin-top: 5px;
                                color: #4C4C94;
                                font-size: 14px;
                                font-weight: bold;
                            }
        
                            p{
                                margin-top: 5px;
                                color: #4C4C94;
                                font-size: 14px;
                                font-weight: bold;
                            }
        
                            img{
                                width: 104px;
                                height: 152px;
                            }
                                }
                            }
                }
            }
            .btn{
                position: relative;
                display: flex;
                align-items: center;
                margin-top: 40px;

                .swiper-pagination1{
                    margin-left: 20vh;
                }

                button{
                    width: 62px;
                    height: 46px;
                    background-color: #5036AC;
                    border: 1px solid #7A5CEE;
                    font-size: 16px;
                    font-weight: bold;
                    color:#FFC91E ;
                    cursor: pointer;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                }
            }
    }

}


/* brend-about-container end */


/* footer start */

.footer{
    display: flex;
    background-color: #5942B5;
    height: 100%;
    position: relative;
    top: 200px;
    padding: 50px 0;

    .log{
        display: flex;
        flex-direction: column;
        flex:1;
        justify-content: center;
        align-items: center;

        img{
            width: 255px;
            height: 31px;
        }

        p{
            padding-top: 30px;
            width: 35%;
            color: #AAA2C5;
            font-size: 16px;
        }
    }

    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

        ul{
            display: grid;
             grid-template-columns: repeat(3,1fr);
             gap: 30px;
            li{
                font-size: 14px;
            }
        }
    }

    .elaqe{
        display: flex;
        flex-direction: column;
        flex: 1;

        .media{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 100px;
            gap: 20px;

            i{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 33px;
                height: 33px;
                background-color: #5036AC;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }

        .contac{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 50px 100px 0 0;
            font-size: 16px;

            .mail{
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                font-size: 16px;
            }
        }
    }
}


/* footer end */



/* responsive design */

@media(max-width:1200px){

    .container-header .logo-container .dashboard .haqqimizda .aclass {
        font-size: 12px;
    }

    .container-header .logo-container .dashboard .mehsullar .aclass2 {
        font-size: 12px;
    }
    
    .container-header .logo-container {
        flex-direction: column;
        align-items: flex-start;

        .dashboard{
            justify-content: space-between;
            width: 100%;
            font-size: 12px;
            gap: 5vh;

            .haqqimizda{
                font-size: 12px;
            }

            .mehsullar .hide-bar-mehsul {
                top: 110px;
                width: 352px;
            }

            .haqqimizda .hide-bar{
                top: 110px;
                width: 200px;
            }
        }

        .logo{
            display: flex;
            justify-content: flex-start;
            position: relative;
            bottom: 10px;

            img{
                width: 200px;
                height: 21px
            }
        }
    }
}

@media(max-width:1025px){
    .brend-parent .brend-container .brend-body .list img{
        width: 137px;
        height: 60px;
    }

    .brend-parent .brend-about-container .brend-mehsul {
        grid-template-columns: repeat(4, 1fr);
    }

    .brend-parent .brend-about-container .btn{
        position: relative;
        top:60px;
    }

    .brend-parent .brend-about-container .swiper-button-next, .brend-parent .brend-about-container .swiper-button-prev {
        position:absolute;
        top: 80px;
    }

    .brend-parent .brend-about-container .swiper-pagination{
        position: absolute;
        top: 90px;
        left: 25vh;
        width: 0;
    }

    .brend-parent .brend-about-container .swiper-button-next {
        left: 6vh;
    }

    .brend-parent .brend-about-container .brend-logo .about {
        font-size: 12px;
    }

    .brend-parent .sloboda .btn .swiper-pagination1 {
        margin-left: 10vh;
    }

    .brend-parent .sloboda .diger-mehsul {
        top: 60px;
    }


}



@media(max-height:1370px){

    .footer {
        top: 335px;
    }
}


@media(max-width:770px){
    .container-header .lang .language a {
        font-size: 14px;
    }
    
    .container-header .logo-container .logo img {
        width: 150px;
    }

    .container-header .logo-container .dashboard {
        position: relative;
        bottom: 10px;
    }

    .container-header .logo-container .dashboard .mehsullar .hide-bar-mehsul {
        top: 30px;
    }

    .footer .log img {
        width: 155px;
     }

     .footer .nav{
         flex: none;
     }
    
     .footer .nav ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .footer .log p {
        width: 55%;
    }

    .footer .elaqe .contac p {
        display: none;
    }

    .brend-parent .brend-container .brend-body .list img {
        width: 100px;
        height: 40px;
    }

    .brend-parent .brend-container .brend-body .list {
        padding: 20px 0;
    }

    .brend-parent .brend-container .brend-body .brend-table5 img:first-child {
        height: 64px;
        width: 94px;
    }

    .brend-parent .brend-about-container .brend-mehsul {
        grid-template-columns: repeat(3, 1fr);
        top: 20px;
    }

    .brend-parent .brend-about-container .oxsar-mehsul {
        top: 0px;
    }

    .brend-parent .brend-about-container .brend-logo .about {
        font-size: 10px;
    }

    .brend-parent .brend-about-container .brend-logo .logo h2 {
        font-size: 16px;
    }

    .brend-parent .brend-about-container .brend-logo .logo img{
        width: 189px;
        height: 109px;
    }

    .brend-parent .brend-about-container .oxsar-mehsul .swiper-wrapper {
        column-gap: 90px;
    }

    .brend-parent .brend-about-container .oxsar-mehsul {
        height: auto;
    } 

    .brend-parent .brend-about-container .btn1 {
            bottom: 0vh;
            top: 156vh;
            position: absolute;
        
    }
    
    .brend-parent .brend-about-container .brend-logo .logo img {
        height: 309px;
    }

    .brend-parent .sloboda .diger-mehsul .swiper-wrapper {
        column-gap: 90px;
    }

}

@media(max-height:1025px){
    .footer{
        top: 225px;
    }
}


@media(max-width:500px){
    .container-header{
        flex-direction: row;
        padding: 0 20px;
        height: 60px;
        width: 100%;
    }

    .container-header .lang {
        display: none;
    }

    .container-header .logo-container .dashboard {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .container-header .logo-container .ham-icon {
        display: block;
    }

    .container-header .logo-container .search {
        display: block;
    }

    .container-header .logo-container .search .inp {
        display: flex;
        left: 0;
    }

    .container-header .logo-container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }

    .container-header .logo-container .logo {
        bottom:0;
        left: 20px;
    }
    



    .footer .elaqe {
        flex: none;
        position: absolute;
        left: 250px;
    }

    .footer .elaqe .media {
        position: absolute;
        padding-right: 0;
        gap: 10px;
        font-size: 12px;
    }

    .footer .elaqe .contac {
        margin-top: 50px;
        padding: 0;

    }

    .footer .elaqe .contac .mail {
        font-size: 9px;
    }

    .footer .elaqe .media i {
        width: 24px;
        height: 24px;
        font-size: 10px;
    }

    .footer .log img {
        width: 105px;
        height: 21px;
    }

    .footer {
        padding: 20px 0;
    }

    .footer .log p {
        margin-top: 160px;
        margin-left: 50px;
        width: 100%;
        font-size: 12px;
    }

    .footer .nav ul {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 60px;
        margin-left: 20px;
    }


    .footer .nav {
        position: relative;
        right: 100px;
        margin-top: 20px;
    }

    .footer .nav ul li {
        font-size: 10px;
    }

    .brend-parent .brend-container .brend-body .list img:nth-child(1){
        display: none;
    }

    .brend-parent .brend-container .brend-body .list img:nth-child(2){
        display: none;
    }

    .brend-parent .brend-container .brend-body {
        padding: 50px 10px;
    }

    .brend-parent .brend-container .brend-body .list img {
        width: 110px;
        height: 40px;
    }

    .brend-parent .brend-container .brend-body .list{
       column-gap: 12px;
    }

    .brend-parent .brend-container {
        top: 80px;
        padding: 0 20px;
    }

    .brend-parent .brend-container .title h1 {
        font-size: 20px;
    }

    .brend-parent .brend-container .yol {
        font-size: 10px;
    }

    .brend-parent .brend-about-container {
        top: 80px;
    }

    .brend-parent .brend-about-container .brend-mehsul {
        grid-template-columns: repeat(2, 1fr);
    }

    .brend-parent .brend-about-container .brend-logo {
        flex-direction: column;
    }

    .brend-parent .brend-about-container .brend-logo .logo {
        flex-direction: column;
    }

    .brend-parent .brend-about-container .brend-logo .bar2{
        display: none;
    }

    .brend-parent .brend-about-container {
        padding: 0 20px;
    }

    .brend-parent .brend-about-container .brend-logo .logo img {
        width: 289px;
        height: 209px;
    }

    .brend-parent .brend-about-container .brend-logo .logo h2 {
        position: relative;
        bottom: 40px;
        width: 80%;
        font-size: 18px;
    }

    .brend-parent .brend-about-container .brend-logo .about {
        font-size: 14px;
        width: 100%;
    }

    .brend-parent .brend-about-container .brend-mehsul .box {
        width: 170px;
        height: 229px
    }

    .brend-parent .brend-about-container .btn1 {
        top: 268vh;
    }

    .brend-parent .brend-about-container .swiper-button-next {
        left: 10vh;
    }

}



@media (max-height: 830px){
.footer {
    top: 200px;
}

.brend-parent .brend-about-container .btn{
    position: relative;
}

.brend-parent .brend-about-container .swiper-pagination {
    position: absolute;
    top: 90px;
    left: 35vh;
}

.brend-parent .brend-about-container .swiper-button-next, .brend-parent .brend-about-container .swiper-button-prev {
    position: absolute;
    top: 80px;
}

.swiper-pagination-fraction {   
    width: 0;
}
}

@media(max-height:740px){
    .brend-parent .brend-about-container .btn1 {
        position: absolute;
    }
}

@media(max-height:600px){
    .brend-parent .brend-container .brend-body .list img{
        width: 137px;
        height: 60px;
    }
    .footer{
        top: 230px;
    }
}


@media(max-width:376px){
    .container-header .logo-container .logo img {
        width: 70px;
        height: 15px;
    }

    .container-header .logo-container .ham-icon i {
        font-size: 12px;
    }

    .container-header .logo-container .search .inp i {
        width: 23px;
        height: 23px;
        font-size: 10px;
    }

    .container-header .logo-container .search .inp input {
        height: 23px;
        font-size: 10px;
    }


    .footer .elaqe {
        left: 180px;
    }

    .footer .nav ul {
        column-gap: 30px;
    }

    .footer .log p {
        font-size: 10px;
    }

    .footer .log img {
        margin-left: 20px;
    }

    .brend-parent .brend-container .brend-body .list img {
        width: 90px;
    }

    .brend-parent .brend-about-container .brend-mehsul .box img {
        width: 100px;
        height: 100px;
    }

    .brend-parent .brend-about-container .brend-mehsul .box h3 {
        font-size: 12px
    }

    .brend-parent .brend-about-container .brend-mehsul .box p {
        font-size: 10px;
    }

    .brend-parent .brend-about-container .brend-mehsul .box {
        width: 140px;
        height: 170px;
    }

    .brend-parent .brend-about-container .btn1 {
        top: 243vh;
    }

    .brend-parent .brend-about-container .oxsar-mehsul .swiper-wrapper .swiper-slide .box img {
        width: 60px;
        height: 60px;
    }

    .brend-parent .brend-about-container .oxsar-mehsul .swiper-wrapper .swiper-slide .box h3 {
        font-size: 10px;
    }

    .brend-parent .brend-about-container .oxsar-mehsul .swiper-wrapper .swiper-slide .box p {
        font-size: 10px;
    }

    .brend-parent .brend-about-container .oxsar-mehsul .swiper-wrapper {
        column-gap: 40px;
    }

    .brend-parent .brend-about-container .oxsar-mehsul .swiper-wrapper .swiper-slide .box {
        width: 140px;
        height: 200px;
    }

    .brend-parent .brend-about-container .oxsar-mehsul .swiper-wrapper .swiper-slide {
        width: 100px;
        height: 230px;
    }

    .brend-parent .brend-about-container .yol {
        display: flex;
        font-size: 11px;
    }

    .brend-parent .sloboda .diger-mehsul .swiper-wrapper .swiper-slide .box{
        width: 140px;
        height: 200px;
    }

    .brend-parent .sloboda .diger-mehsul .swiper-wrapper .swiper-slide .box h3{
        font-size: 10px;
    }

    .brend-parent .sloboda .diger-mehsul .swiper-wrapper .swiper-slide .box p{
        font-size: 10px;
    }

    .brend-parent .sloboda .diger-mehsul .swiper-wrapper .swiper-slide .box img{
        height: 60px;
        width: 60px;
    }

    .brend-parent .sloboda .brend-logo .logo {
        width: 250px;
    }

    .brend-parent .sloboda .diger-mehsul .swiper-wrapper .swiper-slide {
        width: 100px;
        height: 230px;
    }

    .brend-parent .sloboda .diger-mehsul .swiper-wrapper{
        column-gap: 40px;
    }



}


@media(max-width:320px){
    .brend-parent .brend-about-container .btn1 {
        top: 290vh;
    }

    .brend-parent .brend-about-container .swiper-button-next {
        left: 13vh;
    }

    .brend-parent .brend-container .brend-body .list img {
        width: 75px;
        height: 40px;
    }


    

}
