@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color:white;
}

body{
  background-color: #351E8A;
  height: 100%;
  overflow-x: hidden;
  
}

// Header

.hamburger-menu{
    display: none;
    position: fixed;
    height: 100vh;
    width: 260px;
    background-color: rgba(92,67,190,0.8);
    backdrop-filter: blur(8px);
    padding: 20px 30px;
    z-index: 10000;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;

    
    .ham-lang{
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;

        i{
            cursor: pointer;
            font-size: 18px;
        }

        .language{
            .active{
                color: #FFC91E;
                text-decoration: underline;
            }
        }
       
    }

    .ham-dashboard{
        display: flex;
        flex-direction: column;
        gap: 15px;
        list-style: circle;

        .aclass1{
            opacity: 0.5;
        }

        .haqq{
            .aclass1{
                display: flex;
                align-items: center;
                gap: 5px;

                p{
                    font-weight: bold;
                }
            }

            .ham-hide-bar{
                display: none;
                padding-left: 20px;
                flex-direction: column;
                gap: 10px;
                margin-top: 5px;
            }
        }

        .mehsul{
            .aclas2{
                display: flex;
                align-items: center;
                gap: 5px;

                p{
                    font-weight: bold;
                }
            }

            .ham-hide-bar-mehsul{
                display: flex;
                flex-direction: column;
                gap: 20px;
                display: none;
                padding-left: 20px;
                margin-top: 10px;
            }
        }
    }

    .media{
        margin-top: 50px;

        .sosial-media{
        display: flex;
        width: 100%;
        gap: 5px;
        i{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 33px;
            height: 33px;
            background-color: #5036AC;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            cursor: pointer;
            transition:0.3s ease-in-out ;
            -webkit-transition:0.3s ease-in-out ;
            -moz-transition:0.3s ease-in-out ;
            -ms-transition:0.3s ease-in-out ;
            -o-transition:0.3s ease-in-out ;

            &:hover{
                transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                color: #FFC91E;
    }
        }
        }

        .contact{
            margin-top: 20px;
            font-size: 12px;
        }
    }
}


.container-header{
    background-color: #351E8A;
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 0 70px;
    

    .lang{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        

        .language{
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            width: 20%;

            a{
                font-size: 17px;

                &:hover{
                    color: #FFC91E;
                    text-decoration: underline;
                }
            }
        }
        .sosial-media{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            gap: 5px;
            position: relative;
            top: 10px;
            margin-right: 10px;

            .inp{
                display: flex;
                position: relative;
                left: 30px;
                transition: 1s ease-in-out;
                -webkit-transition: 1s ease-in-out;
                -moz-transition: 1s ease-in-out;
                -ms-transition: 1s ease-in-out;
                -o-transition: 1s ease-in-out;


                input{
                    opacity: 0;
                    width: 33px;
                    height: 33px;
                    border-radius: 17px;
                    -webkit-border-radius: 17px;
                    -moz-border-radius: 17px;
                    -ms-border-radius: 17px;
                    -o-border-radius: 17px;
                    background-color: #5036AC;
                    padding: 0 20px 0 40px;
                    border: none;
                    outline: none;
                    transition: 1s ease-in-out;
                -webkit-transition: 1s ease-in-out;
                -moz-transition: 1s ease-in-out;
                -ms-transition: 1s ease-in-out;
                -o-transition: 1s ease-in-out;
                    

                    &::placeholder{
                        color: white;
                    }
                }

                i{
                    position: relative;
                    right: 34px;
                }
            }

            i{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 33px;
                height: 33px;
                background-color: #5036AC;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                cursor: pointer;
                transition:0.3s ease-in-out ;
                -webkit-transition:0.3s ease-in-out ;
                -moz-transition:0.3s ease-in-out ;
                -ms-transition:0.3s ease-in-out ;
                -o-transition:0.3s ease-in-out ;

                &:hover{
                    transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -moz-transform: rotate(360deg);
                    -ms-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                    color: #FFC91E;
}
}
}  
        
        .contact{
            position: relative;
            top: 10px;
            font-size: 10px;
        }
    }


    .logo-container{
        display: flex;
        margin-top: 15px;
        justify-content: space-between;
        align-items: center;

        .ham-icon{
                display: none;
            i{
                font-size: 18px;
                cursor: pointer;
            }
        }

        .logo{
            img{
                width: 254px;
                height: 31px;
                cursor: pointer;
            }
        }

        .search{
            display: none;

           .inp{
            display: flex;
            position: relative;
            left: 30px;
            transition: 1s ease-in-out;
            -webkit-transition: 1s ease-in-out;
            -moz-transition: 1s ease-in-out;
            -ms-transition: 1s ease-in-out;
            -o-transition: 1s ease-in-out;


            input{
                opacity: 0;
                width: 33px;
                height: 33px;
                border-radius: 17px;
                -webkit-border-radius: 17px;
                -moz-border-radius: 17px;
                -ms-border-radius: 17px;
                -o-border-radius: 17px;
                background-color: #5036AC;
                padding: 0 20px 0 40px;
                border: none;
                outline: none;
                transition: 1s ease-in-out;
            -webkit-transition: 1s ease-in-out;
            -moz-transition: 1s ease-in-out;
            -ms-transition: 1s ease-in-out;
            -o-transition: 1s ease-in-out;
            }
            i{
                display: flex;
                align-items: center;
                justify-content: center;
                outline: none;
                width: 33px;
                height: 33px;
                background-color: #5036AC;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                cursor: pointer;
               }
           } 
        }

        .dashboard{
            display: flex;
            gap: 10vh;
            font-size: 15px;

            .aclass{
                opacity: 0.5;
            }

            .haqqimizda{
                font-size: 15px;

                .aclass{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                    gap: 5px;

                    p{
                        font-weight: bold;
                    }
                }
                .hide-bar{
                    display: grid;
                    display: none;
                    grid-template-columns: repeat(2, 1fr);
                    position: absolute;
                    top: 95px;
                    width: 266px;
                    height: 110px;
                    padding: 20px 15px;
                    background-color:rgba(83, 69, 177, 0.6) ;
                    border-radius: 8px;
                        -webkit-border-radius: 8px;
                        -moz-border-radius: 8px;
                        -ms-border-radius:8px;
                        -o-border-radius:8px;
                    
                    &::before{
                        content: '';
                        background-color:rgba(83, 69, 177, 0.6);
                        position: absolute;
                        top: -10px;
                        left: 10px;
                        width: 10px;
                        height: 10px;
                        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
                }
            }
            .mehsullar{
                .aclass2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                    gap: 5px;

                    p{
                        font-weight: bold;
                    }
                }
                .hide-bar-mehsul{
                    display: grid;
                    display: none;
                    grid-template-columns: repeat(2, 1fr);
                    position: absolute;
                    top: 95px;
                    width: 452px;
                    height: 178px;
                    padding: 20px 15px;
                    background-color:rgba(83, 69, 177, 0.6) ;
                    border-radius: 8px;
                        -webkit-border-radius: 8px;
                        -moz-border-radius: 8px;
                        -ms-border-radius:8px;
                        -o-border-radius:8px;

                        &::before{
                            content: '';
                            background-color:rgba(83, 69, 177, 0.6);
                            position: absolute;
                            top: -10px;
                            left: 10px;
                            width: 10px;
                            height: 10px;
                            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                        }
                }
            }
        }
    }
}

/*    section tarixmiz start  */

.tariximiz{
    position: relative;
    top: 20vh;
    padding: 0 70px;

    .yol{
        display: flex;

        p{
            color: #FFC91E;
        }  
    }

    .melumat-container{
        display: flex;
        flex-direction: column;
        background-color: #5940BE;
        border: 1px solid #6F56D2;
        padding: 50px 170px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;

        .melumat-head{
            display: flex;
            justify-content: space-around;
            font-size: 22px;
            border-bottom: 2px solid #6F56D2;

            
            

            .box{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                margin-bottom: 20px;
                
                .image{
                    width: 24px;
                    height: 24px;
                    background-image: url("../icons/tarix.png");
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    z-index: 1;

                }

                .active{
                    background-image: url("../icons/tarix s.png");
                }

                .image1{
                    width: 24px;
                    height: 24px;
                    background-image: url("../icons/meqsed.png");
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    z-index: 1;
                }

                .active1{
                    background-image: url("../icons/meqsed s.png");
                }

                .image2{
                    width: 24px;
                    height: 24px;
                    background-image: url("../icons/struktu.png");
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    z-index: 1;
                }

                .active2{
                    background-image: url("../icons/struktu s.png");
                }

                .image3{
                    width: 24px;
                    height: 24px;
                    background-image: url("../icons/deyer.png");
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    z-index: 1;
                }

                .active3{
                    background-image: url("../icons/deyer s.png");
                }
            }
        }
        .melumat-center-container{

            .actives{
                display: block !important;
            }
            

            .menu1, .menu2{
                display: none;
            }
            
        .melumat-center{
            padding: 50px 0;
            height: auto;


            p{
                line-height: 40px;
                font-size: 16px;
            }
        }
      .menu3{
          display: none;
        .struktur{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 50px;

            .card{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #6A4ED9;
                border: 1px solid #866DEF;
                border-radius: 9px;
                -webkit-border-radius: 9px;
                -moz-border-radius: 9px;
                -ms-border-radius: 9px;
                -o-border-radius: 9px;
}

            .text{
                padding-left:20px ;
                
                span{
                    color: #C6B8FF;
                    font-size: 14px;
                }
            }
        }
    }


        .menu4{
            display: none;
        .deyerler{
             display: flex;
            flex-direction: column;
            gap: 30px;
            .deyerler-box{
                h3{
                    color:#FFC91E;
                }
                p{
                    font-size: 14px;
                    line-height: 30px;
                }
            }
        }
    }
}


        .melumat-footer{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;

            img{
                position: relative;
                left: 25vh;
                width: 94px;
                height: 24px;
            }
        }
    }

    
}




/*    section tarixmiz end  */


/* footer start */

.footer{
    display: flex;
    background-color: #5942B5;
    height: 100%;
    position: relative;
    top: 200px;
    padding: 50px 0;

    .log{
        display: flex;
        flex-direction: column;
        flex:1;
        justify-content: center;
        align-items: center;

        img{
            width: 255px;
            height: 31px;
        }

        p{
            padding-top: 30px;
            width: 35%;
            color: #AAA2C5;
            font-size: 16px;
        }
    }

    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

        ul{
            display: grid;
             grid-template-columns: repeat(3,1fr);
             gap: 30px;
            li{
                font-size: 14px;
            }
        }
    }

    .elaqe{
        display: flex;
        flex-direction: column;
        flex: 1;

        .media{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 100px;
            gap: 20px;

            i{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 33px;
                height: 33px;
                background-color: #5036AC;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }

        .contac{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 50px 100px 0 0;
            font-size: 16px;

            .mail{
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                font-size: 16px;
            }
        }
    }
}


/* footer end */




/* responsive design */

@media(max-width:1200px){

    .container-header .logo-container .dashboard .haqqimizda .aclass {
        font-size: 12px;
    }

    .container-header .logo-container .dashboard .mehsullar .aclass2 {
        font-size: 12px;
    }
    
    .container-header .logo-container {
        flex-direction: column;
        align-items: flex-start;

        .dashboard{
            justify-content: space-between;
            width: 100%;
            font-size: 12px;
            gap: 5vh;

            .haqqimizda{
                font-size: 12px;
            }

            .mehsullar .hide-bar-mehsul {
                top: 110px;
                width: 352px;
            }

            .haqqimizda .hide-bar{
                top: 110px;
                width: 200px;
            }
        }

        .logo{
            display: flex;
            justify-content: flex-start;
            position: relative;
            bottom: 10px;

            img{
                width: 200px;
                height: 21px
            }
        }
    }
}


@media(max-width:1025px){
    .tariximiz {
        padding: 0;
    }

    .tariximiz .melumat-container{
        padding: 50px 70px;
    }

    .tariximiz .melumat-container .melumat-footer img {
        left: 0;
    }

    .tariximiz .yol {
        margin-left: 40px;
    }
}

@media(max-height:1370px){

    .footer {
        top: 425px;
    }
}


@media(max-width:770px){
    .container-header .lang .language a {
        font-size: 14px;
    }
    
    .container-header .logo-container .logo img {
        width: 150px;
    }

    .container-header .logo-container .dashboard {
        position: relative;
        bottom: 10px;
    }

    .container-header .logo-container .dashboard .mehsullar .hide-bar-mehsul {
        top: 30px;
    }

    .tariximiz .melumat-container .melumat-center-container .menu3 .struktur {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 60px;
    }

    .footer .log img {
        width: 155px;
     }

     .footer .nav{
         flex: none;
     }
    
     .footer .nav ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .footer .log p {
        width: 55%;
    }

    .footer .elaqe .contac p {
        display: none;
    }
}


@media(max-width:500px){
    .container-header{
        flex-direction: row;
        padding: 0 20px;
        height: 60px;
        width: 100%;
    }

    .container-header .lang {
        display: none;
    }

    .container-header .logo-container .dashboard {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .container-header .logo-container .ham-icon {
        display: block;
    }

    .container-header .logo-container .search {
        display: block;
    }

    .container-header .logo-container .search .inp {
        display: flex;
        left: 0;
    }

    .container-header .logo-container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }

    .container-header .logo-container .logo {
        bottom:0;
        left: 20px;
    }
    



    .footer .elaqe {
        flex: none;
        position: absolute;
        left: 250px;
    }

    .footer .elaqe .media {
        position: absolute;
        padding-right: 0;
        gap: 10px;
        font-size: 12px;
    }

    .footer .elaqe .contac {
        margin-top: 50px;
        padding: 0;

    }

    .footer .elaqe .contac .mail {
        font-size: 9px;
    }

    .footer .elaqe .media i {
        width: 24px;
        height: 24px;
        font-size: 10px;
    }

    .footer .log img {
        width: 105px;
        height: 21px;
    }

    .footer {
        padding: 20px 0;
    }

    .footer .log p {
        margin-top: 160px;
        margin-left: 50px;
        width: 100%;
        font-size: 12px;
    }

    .footer .nav ul {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 60px;
        margin-left: 20px;
    }

    .tariximiz {
        top: 10vh;
    }

    .tariximiz .melumat-container .melumat-center-container .menu4 .deyerler .deyerler-box h3 {
        color: #FFC91E;
        font-size: 14px;
    }

    .tariximiz .melumat-container .melumat-center-container .menu4 .deyerler .deyerler-box p {
        font-size: 10px;
    }

    .footer .nav {
        position: relative;
        right: 100px;
        margin-top: 20px;
    }

    .footer .nav ul li {
        font-size: 10px;
    }






    .tariximiz .melumat-container .melumat-head {
        font-size: 12px;
    }

    .tariximiz .melumat-container .melumat-head .box .image {
        width: 14px;
        height: 14px;
    }

    .tariximiz .melumat-container .melumat-head .box .image1 {
        width: 14px;
        height: 14px;
    }

    .tariximiz .melumat-container .melumat-head .box .image2 {
        width: 14px;
        height: 14px;
    }

    .tariximiz .melumat-container .melumat-head .box .image3 {
        width: 14px;
        height: 14px;
    }

    .tariximiz .melumat-container {
        padding: 50px 10px;
    }

    .tariximiz .yol {
        margin-left: 0px;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .tariximiz .melumat-container .melumat-footer img {
        width: 44px;
        height: 14px;
    }

    .tariximiz .melumat-container .melumat-center-container .melumat-center p {
        font-size: 12px;
    }

    .tariximiz .melumat-container .melumat-center-container .menu3 .struktur {
         margin: 0 30px;
    }

    .tariximiz .melumat-container .melumat-center-container .menu3 .struktur .card .img{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tariximiz .melumat-container .melumat-center-container .menu3 .struktur .card img{
        height: 10vh;
        width: 10vh;
    }

    .tariximiz .melumat-container .melumat-center-container .menu3 .struktur .text h1{
        font-size: 20px;
    }
}




@media (max-height: 830px){
.footer {
    top: 130px;
}
}


@media(max-width:374px){
    .container-header .logo-container .logo img {
        width: 70px;
        height: 15px;
    }

    .container-header .logo-container .ham-icon i {
        font-size: 12px;
    }

    .container-header .logo-container .search .inp i {
        width: 23px;
        height: 23px;
        font-size: 10px;
    }

    .container-header .logo-container .search .inp input {
        height: 23px;
        font-size: 10px;
    }


    .footer .elaqe {
        left: 180px;
    }

    .footer .nav ul {
        column-gap: 30px;
    }

    .footer .log p {
        font-size: 10px;
    }

    .footer .log img {
        margin-left: 20px;
    }



    .tariximiz .yol {
        font-size: 9px;
    }

    .tariximiz .melumat-container .melumat-head {
        font-size: 9px;
    }

    .tariximiz .melumat-container .melumat-center-container .melumat-center p {
        font-size: 10px;
    }

    .tariximiz .melumat-container .melumat-center-container .menu3 .struktur .text h1 {
        font-size: 14px;
    }

    .tariximiz .melumat-container .melumat-center-container .menu3 .struktur .text span {
        color: #C6B8FF;
        font-size: 10px;
    }
}